@page "/counter"
@using BlazorApp1_Site.Service
@inject NavigationManager _nav
@inject NotificationService NotificationService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Inject] public IAuthenticationService authService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(_nav.Uri);

        string query = uri.Query.TrimStart('?');
        string code = System.Web.HttpUtility.ParseQueryString(query).Get("code");

        string idToken = await authService.GetIdToken(code);

        await localStorage.SetItemAsStringAsync("idToken", idToken);
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
